.headerProfile {
    display: flex;
    align-items: center;
    gap: 32px;
    z-index: 1;
}

.trashBlock,
.profileBlockLeft {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.profileBlock {
    display: flex;
    gap: 64px;
    align-items: center;
    cursor: pointer;
}

.popupList {
    display: flex;
    flex-direction: column;
}

.profilePopup {
    padding: 24px 55px 48px 19px;
    border-radius: 0px 0px 15px 15px;

    box-shadow: inset 0px 0px 68px 0px rgba(255, 255, 255, 0.05),
        inset 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(48px);
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 80px;
    right: 0;
    border-radius: 0px 0px 20px 20px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.popupList__item {
    display: flex;
    gap: 8px;
    list-style-type: none;
    transition: all 0.2s ease-in-out;
    color: #8b8b8b;
    cursor: pointer;
}

.popupList__item:not(:last-child) {
    margin-bottom: 16px;
}

.arrow {
    transition: all 0.3s ease-in-out;
}

.active {
    transform: rotate(180deg);
}